{% extends "layout.twig" %}

{% block body %}
	<p>Mongo db demo</p>

	<a href="{{ path('index.add_data') }}" class="btn btn-default">Add</a>
	<a href="{{ path('index.adddata2') }}" class="btn btn-default">Add22</a>
{% endblock %}
